<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFieldAndStepper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CCE9D461C784070006763F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCE9D5F1C784070006763F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCE9D6A1C784070006763F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
